.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8.2vw;
    gap: 4%;
    padding: 2%;
    font-size: 1em;
}
.logo img {
    height: 85%;
}
@media (max-width: 850px) {
    .name{
        display: none;
    }
}